<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @account.user_id %>
</p>

<p>
  <strong>Provider:</strong>
  <%= @account.provider %>
</p>

<p>
  <strong>Oauth token:</strong>
  <%= @account.oauth_token %>
</p>

<p>
  <strong>Oauth secret:</strong>
  <%= @account.oauth_secret %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
